@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?h40mg2');
	src:url('fonts/icomoon.eot?#iefixh40mg2') format('embedded-opentype'),
		url('fonts/icomoon.woff?h40mg2') format('woff'),
		url('fonts/icomoon.ttf?h40mg2') format('truetype'),
		url('fonts/icomoon.svg?h40mg2#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-th-menu:before {
	content: "\e603";
}
.icon-search:before {
	content: "\f002";
}
.icon-heart:before {
	content: "\f004";
}
.icon-star:before {
	content: "\f005";
}
.icon-user:before {
	content: "\f007";
}
.icon-th-list:before {
	content: "\f00b";
}
.icon-check:before {
	content: "\f00c";
}
.icon-times:before {
	content: "\f00d";
}
.icon-home:before {
	content: "\f015";
}
.icon-tag:before {
	content: "\f02b";
}
.icon-bookmark:before {
	content: "\f02e";
}
.icon-picture-o:before {
	content: "\f03e";
}
.icon-chevron-left:before {
	content: "\f053";
}
.icon-chevron-right:before {
	content: "\f054";
}
.icon-comment:before {
	content: "\f075";
}
.icon-twitter:before {
	content: "\f099";
}
.icon-facebook:before {
	content: "\f09a";
}
.icon-google-plus:before {
	content: "\f0d5";
}
.icon-envelope:before {
	content: "\f0e0";
}
.icon-quote-left:before {
	content: "\f10d";
}
.icon-quote-right:before {
	content: "\f10e";
}
.icon-github-alt:before {
	content: "\f113";
}
.icon-tumblr:before {
	content: "\f173";
}
.icon-apple:before {
	content: "\f179";
}
.icon-windows:before {
	content: "\f17a";
}
.icon-android:before {
	content: "\f17b";
}
.icon-linux:before {
	content: "\f17c";
}
.icon-dribbble:before {
	content: "\f17d";
}
.icon-weibo:before {
	content: "\f18a";
}
.icon-angle-right:before {
	content: "\e601";
}
.icon-angle-up:before {
	content: "\e602";
}
.icon-angle-down:before {
	content: "\e600";
}
